.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: -50px;
}

.ContainerSobreNos h1,
.container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 32px;
}



.servicos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

.card {

    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.33% - 20px);
    /* Flexibilidade para ajustar o tamanho dos cards, com gap de 20px */
    max-width: calc(33.33% - 20px);
    /* Limita o tamanho máximo dos cards */
    margin-bottom: 20px;
    /* Espaçamento inferior entre os cards */
}

.card h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center;

}

.card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.centralizaParagrafo {
    text-align: center;
}

.card a {
    display: inline-block;
    background-color: #08bce9;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.card a:hover {
    background-color: #07a1d3;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
        /* Em telas menores, cada card ocupa 100% da largura */
        max-width: 100%;
        /* Garante que o card ocupe toda a largura disponível */
    }

    .centralizaParagrafo {
        text-align: center;
    }

}


/* ---------------------------- */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    min-width: 60%;
    min-height: 60%;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.modal h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    width: 100%;
    height: 60px;
    background-color: #07a1d3;
    color: white;
    padding: 15px 0;
    font-size: 26px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
}

.modal p {
    font-size: 1.0rem;
    line-height: 1.6;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

@media(max-width: 768px) {

    .modal-content {
        min-width: 95%;
        min-height: 80%;
        max-width: 95%;
        max-height: 80%;
            overflow-y: auto;
    }

    .modal-content h2 {
        padding: 0;
    }

    .modal h2 {
        width: 100%;
        height: 60px;
        background-color: #07a1d3;
        color: white;
        padding: 15px 0;
        font-size: 26px;
        margin-bottom: 20px;
    }


    .expressa {
        font-style: italic;
    }

    .expressa p {
        text-align: center;
    }

}


/* -------------------------- */


.limpezaExpressa h3 {
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: 300;
            text-align: center;
        }

        .servicosInclusos {
            margin-top: 35px;
            padding: 0 20px;
            margin-bottom: 40px;
        }

        .servicosInclusos div {
            display: flex;
            gap: 16px; /* Alterado para um valor fixo para um melhor espaçamento */
            padding: 10px;
            align-items: center;
            margin-bottom: 10px;
        }

        .servicosInclusos svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0; /* Garante que o SVG não encolha */
        }

        .servicosInclusos p {
            margin: 0;
            font-weight: 300;
            text-align: start;
            flex-grow: 1; /* Faz o parágrafo crescer para ocupar o espaço disponível */
        }